html {
	height: 100%;
}
body {
	min-height: 100%;
}
body {
    background-image: url("../images/plate.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
	background-attachment: fixed;
}
#cardContainer .card {
    margin-top: 5px;
    margin-bottom: 5px;
}
#searchInputContainer {
    width: 100%;
}
#navbar .navbar-item {
    text-align: right;
}
#caloriesRemaining {
    font-size: 1.5em;
	transition: opacity 0.5s ease-out;
	margin-left: 5px;
}
#form {
    width: 100%;
}
#content {
    padding-top: 3%;
}
.template {
    display: none;
}
.ate-food-button {
	margin-right: 7px;
	margin-top: 7px;
}
.card-header {
	position: relative;
}
div.food-image-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.food-image {
	margin: 0 auto;
}
#caloriesButton {
	height: 100%;
}
#searchField {
	margin-bottom: 0.25rem;
}
#messageModal {
	text-align: center;
}
.message-footer {
	padding-bottom: 5px;
}
table {
	margin-top: 25px;
}